*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    color: black;
}

/*------------ CONTENIDO HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 128, 255, 0.75);
  color: #000;
  text-align: center;
  font-family: Georama;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.headermenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.headermenu ul {
  display: flex;
  gap: 20px;
}

.headermenu li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.headermenu li a:hover {
  background-color: #007acc;
  color: white;
}

.headermenu li a:active {
  background-color: #005999;
  color: white;
}

nav a {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #777;
}

/*------------ CONTENIDO BODY */
main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 2px solid #007acc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1 1 calc(50% - 40px); /* Two columns with spacing */
  box-sizing: border-box;
  background-color: white;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #007acc;
  margin-bottom: 15px;
}

.product h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product p {
  font-size: 0.9em;
  color: #666;
  text-align: center;
}

.product .price {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.quantity-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-container label {
  margin-right: 10px;
  font-weight: 500;
}

.quantity-container input {
  width: 50px;
  padding: 5px;
  border: 1px solid #007acc;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

.add-to-cart {
  padding: 10px 15px;
  border: none;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #218838;
}

/* Flex container for bottom elements */
.product .bottom-elements {
  margin-top: auto; /* Pushes elements to the bottom */
}

/*------------ CONTENIDO BODY */

/*------------ CONTENIDO FOOTER */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 150px;
    background-color: rgba(0, 128, 255, 0.75);
    /* POSICION DEL FOOTER ABAJO SIEMPRE 
    position: absolute;
    bottom: -305px;*/
    position: relative;
    width: 100%;
  
  }
  
  .footer{
    display: flex;
    
  }
  
  .logosolo{
    display: flex;
  
  }
  
  .logosolo img{
    max-width: 80px;
    margin-right: 50px;
    height: 75px;
    width: 75px;
    background-size: cover;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
  
  }
  
  .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .footer-row{
    display: flex;
  
  }
  
  .footer-links{
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
  
  }
  
  .footer-links h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    padding-bottom: 10px;
    border-bottom: solid 2px black;
  
  }
  
  .footer-links ul li {
    display: flex;
    justify-content: left;
    align-items: center;
  
  }
  
  .divSeguinos {
    display: flex;
    flex-direction: column;
    
  }
  
  .divSeguinos ul li{
    display: flex;
    padding-top: 5px;  
  }
  
  .divSeguinos h4{
    display: flex;
    flex-direction: column;
    
  }
  
  .divSeguinos svg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  
  }
  
  .divContactanos {
    display: flex;
    flex-direction: column;
  
  }
  
  .divContactanos ul li {
    display: flex;
    padding-top: 5px;
  }
  
  
  .divContactanos svg {
    padding-right: 10px;
  
  }
  
  .divCompañia {
    display: flex;
    flex-direction: column;
  
  }
  
  .divCompañia ul li {
    display: flex;
    padding-top: 5px; 
  
  }
  
  /*------------ CONTENIDO FOOTER */

body{
    background-image: url(../images/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


